/***
* Meow App 7.0 Theme
* ...in progress :P
* @author rlewis37@cnm.edu
***/

/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Audiowide');

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.navbar-brand {
  font-family: 'Audiowide', sans-serif;
}

button {
  cursor: pointer;
}

hr {
  border-color: rgba(0,0,0,0.15);
}

/* UTILS */
.mh-80 {
  min-height: 80vh;
}

.mh-100 {
  min-height: 100vh;
}

.bg-shadow-light {
  background-color: rgba(255,255,255,0.15);
}

.bg-shadow-dark {
  background-color: rgba(0,0,0,0.3);
}

.text-shadow-dark {
  text-shadow: 1px 1px #000;
}

.bg-transparent-90 {
  background-color: rgba(255,255,255,0.9);
}

@media screen and (min-width: 768px) {
  .position-fixed-md {
    position: fixed;
  }
}

/* GLOBAL */
/* this is how to apply a background image */
#root {
  /*background: url("ui/shared/img/bg-cat.jpg") no-repeat center left fixed;*/
  /*background-size: cover;*/
  background-color: #000;
}

/* HEADER */
nav {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

div.dropdown-item.sign-out-dropdown:active,
div.dropdown-item.sign-out-dropdown:hover,
.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
}

/* POSTS */
.posts-form-panel {
  z-index: 999;
}

.posts-panel {
  margin-top: 60px;
}

/* no pointer on disabled like button! */
button.post-like-btn:disabled {
  cursor: unset;
}

@media only screen and (min-width: 768px){
  .posts-panel {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .posts-form-panel.panel-position-reset {
    position: static !important;
  }
}

button,
.card,
.badge,
.modal-content {
  border-radius: 0 !important;
  border: none;
}