/***********************************************
* Meow App 8.0 Theme ...in progress :P
*
* @author Rochelle Lewis rlewis37@cnm.edu
************************************************/
/*@import url('https://fonts.googleapis.com/css?family=Audiowide');*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Press+Start+2P&display=swap');

/***********************************************
* AUTHOR UTILITY CLASSES
************************************************/
/* .mh-100 is a bootstrap class that we've modified here
* for this layout.
*
* See: https://getbootstrap.com/docs/4.5/utilities/sizing/#relative-to-the-parent
 */
.mh-100 {
	min-height: 100vh;
}

@media screen and (min-width: 768px) {
	.position-fixed-md {
		position: fixed;
	}
}

/***********************************************
* REACT BOOTSTRAP OVERRIDES
************************************************/
button {
	cursor: pointer;
}

button,
.card,
.badge,
.modal-content {
	border-radius: 0 !important;
	border: none;
}

/* no pointer on disabled like buttons! */
button.post-like-btn:disabled {
	cursor: unset;
}

/* corrects react-bootstrap styling flaws */
.navbar-dark .dropdown-menu {
	border-radius: 0;
	background-color: #343a40;
}

.navbar-dark .dropdown-item:hover,
.navbar-dark .dropdown-item:focus {
	color: inherit !important;
	background-color: transparent !important;
}

/* remove box shadow on persistent button focus state */
.btn:focus, .btn.focus,
.btn-outline-danger:focus, .btn-outline-danger.focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:focus, .btn-outline-danger.focus {
	box-shadow: none;
}

/***********************************************
* MEOW APP CUSTOM THEME STYLES
************************************************/
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.navbar-brand {
	font-family: 'Audiowide', sans-serif;
}

/* apply background image and color here */
#root {
	background: url("ui/shared/img/nyan-cat.jpg") no-repeat top right fixed #000;
	background-size: cover;
}

/***********************************************
* DARK THEME SCROLLBAR!
* Author: @subfauna
* See: https://codepen.io/subfauna/pen/CLtmF
************************************************/
html {
	scrollbar-face-color: #646464;
	scrollbar-base-color: #646464;
	scrollbar-3dlight-color: #646464;
	scrollbar-highlight-color: #646464;
	scrollbar-track-color: #000;
	scrollbar-arrow-color: #000;
	scrollbar-shadow-color: #646464;
	scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}

/***********************************************
* NAVBAR / HEADER
************************************************/
div.dropdown-item.sign-out-dropdown:active,
div.dropdown-item.sign-out-dropdown:hover,
.dropdown-item.active, .dropdown-item:active {
	background-color: transparent;
}

nav.navbar.navbar-dark {
	background-color: rgba(0,0,0,1);
}
/***********************************************
* HOME
************************************************/
.welcome span.h1 {
	font-family: 'Bungee Shade', 'Roboto', sans-serif;
	font-size: 4rem;
	text-shadow: -5px 5px rebeccapurple;
}
/***********************************************
* POSTS
************************************************/
.posts-form-panel {
	z-index: 999;
}

.posts-panel {
	margin-top: 60px;
}

/* border color for post cards */
div.card.bg-dark .border-bottom {
	border-color: rgba(0, 0, 0, 0.125) !important;
}

@media only screen and (min-width: 768px){
	.posts-panel {
		margin-top: 0;
	}
}

@media only screen and (max-width: 768px) {
	.posts-form-panel.panel-position-reset {
		position: static !important;
	}
}