/***********************************************
* Meow App 8.0 Theme ...in progress :P
*
* @author Rochelle Lewis rlewis37@cnm.edu
************************************************/

/***********************************************
* AUTHOR UTILITY CLASSES
************************************************/
/* .mh-100 is a bootstrap class that we've modified here
* for this layout.
*
* See: https://getbootstrap.com/docs/4.5/utilities/sizing/#relative-to-the-parent
 */
.mh-100 {
	min-height: 100vh;
}

@media screen and (min-width: 768px) {
	.position-fixed-md {
		position: fixed;
	}
}

/***********************************************
* REACT BOOTSTRAP OVERRIDES
************************************************/
button {
	cursor: pointer;
}

button,
.card,
.badge,
.modal-content {
	border-radius: 0 !important;
	border: none;
}

/* no pointer on disabled like buttons! */
button.post-like-btn:disabled {
	cursor: unset;
}

/* corrects react-bootstrap styling flaws */
.navbar-dark .dropdown-menu {
	border-radius: 0;
	background-color: #343a40;
}

.navbar-dark .dropdown-item:hover,
.navbar-dark .dropdown-item:focus {
	color: inherit !important;
	background-color: transparent !important;
}

/* remove box shadow on persistent button focus state */
.btn:focus, .btn.focus,
.btn-outline-danger:focus, .btn-outline-danger.focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:focus, .btn-outline-danger.focus {
	box-shadow: none;
}

/***********************************************
* MEOW APP CUSTOM THEME STYLES
************************************************/
@import url('https://fonts.googleapis.com/css?family=Audiowide');

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.navbar-brand {
	font-family: 'Audiowide', sans-serif;
}

/* apply background image and color here */
#root {
	/*background: url("ui/shared/img/bg-cat.jpg") no-repeat center left fixed;*/
	/*background-size: cover;*/
	background-color: #000;
}

/***********************************************
* NAVBAR / HEADER
************************************************/
div.dropdown-item.sign-out-dropdown:active,
div.dropdown-item.sign-out-dropdown:hover,
.dropdown-item.active, .dropdown-item:active {
	background-color: transparent;
}

/***********************************************
* POSTS
************************************************/
.posts-form-panel {
	z-index: 999;
}

.posts-panel {
	margin-top: 60px;
}

/* border color for post cards */
div.card.bg-dark .border-bottom {
	border-color: rgba(0, 0, 0, 0.125) !important;
}

@media only screen and (min-width: 768px){
	.posts-panel {
		margin-top: 0;
	}
}

@media only screen and (max-width: 768px) {
	.posts-form-panel.panel-position-reset {
		position: static !important;
	}
}